p {
    color: red;
    font-size: 20px;
  }
  
  li {
    color: red;
    font-size: 15px;
  }
  
  tr {
    font-size: 80px ;
    text-align: center;
    color: orange;
    }
  
  td:hover {
    cursor: pointer;
    color: red;
  }
  
  body {
    background-image: url("https://c4.wallpaperflare.com/wallpaper/295/504/29/landscape-ghost-castle-ghost-house-haunted-wallpaper-preview.jpg") ;
    background-color: blue ;
    height: 800px ;
    background-position: center ;
    background-repeat: no-repeat ;
    background-size: cover ;
  }
  
  h1 {
    border: solid;
    border-color: red;
    text-align: center;
    color: red;
  }
  
  .btn {
    border: solid;
    background-color: white;
  }
  
  .tablesize {
    height: 500px ;
    width: 1500px ;
    border-color: red ;
    border-style: solid;
    background-image: url("https://th.bing.com/th/id/R.8e2530bb5c17464e2c5d66f32c1e3a8c?rik=%2f%2bcAg1vD9GL4wA&riu=http%3a%2f%2fcreepyhalloweenimages.com%2ffree_halloween_photos%2fghosts%2fghosts_DSC2516.jpg&ehk=MqwsX%2bI1aw5fURzH0nbrUQaaLBj1bJMn7%2bmup15SD70%3d&risl=&pid=ImgRaw&r=0");
    background-size: 1200px;
    }